- var pageTitle = page.title || config.subtitle || ''

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    script(src='https://identity.netlify.com/v1/netlify-identity-widget.js')
    link(rel="icon", href=config.root + 'img/favicon.png')
    title= pageTitle
  body
    block content
    script.
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
